

#mainPage{ 
    position: fixed;
    width:80%;
    max-width: 70em;
    min-width: 50em;
    border: 5px solid black;
    margin: 10%;
    background:linear-gradient(to right, yellow, #B8860B );
    height: 30em;
    
}

#mainPagebody{
    display: grid;
    grid-template-columns: 25% 49% 24%;
    grid-gap: 1%;
}

