
div.pad-body{
    display:grid;
    justify-content: center;
    align-content: center;
    min-height: 380px;
    grid-template-columns: repeat(6, 16.5%);
    grid-template-rows:repeat(4,22%);
    background-color: #4169E1;
    font-size: 120%;
}


button.span-two{
    grid-column: span 2;
    font-size: 120%;
    border-radius: 20px;
    border:7px solid;
    border-color:  silver white whitesmoke;
    color:black;
    background:linear-gradient(to right, yellow, #B8860B );
    height: 60px;
    margin:10px;
    
}
button.span-two:hover{
    background:linear-gradient(to right, #B8860B, yellow ); 
}

button.span-two[disabled]{
   
    background: rgba(233, 229, 178, 0.5); 
}
