<div class="pad-small">

      
    <button (click) ="typeIn(7)">7</button>
    <button (click) ="typeIn(8)">8</button>
    <button (click) ="typeIn(9)">9</button>
    <button (click) ="typeIn(4)">4</button>
    <button (click) ="typeIn(5)">5</button>
    <button (click) ="typeIn(6)">6</button>
    <button (click) ="typeIn(1)">1</button>
    <button (click) ="typeIn(2)">2</button>
    <button (click) ="typeIn(3)">3</button>
    <button (click) ="typeIn(0)">0</button>
    <button (click) ="typeIn(-1)">.</button>
    <button id="delete" (click)="deleteOne()">d</button>    


  </div>

